<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" >Resto Book</a>
    </div>

    <div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav list-group">
        <li class="list-group-item">
          <a routerLink="/admin/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>

        <li class="list-group-item">
          <a routerLink="/admin/bookings"><i class="fa fa-fw fa-table"></i> Bookings</a>
        </li>

        <li class="list-group-item">
          <a  data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="list-group collapse">
            <li class="list-group-item">
              <a >Dropdown Item</a>
            </li>
            <li class="list-group-item">
              <a >Dropdown Item</a>
            </li>
          </ul>
        </li>
        <li class="list-group-item">
          <a (click)="logout()"><i class="glyphicon glyphicon-log-out"></i>  Log out</a>
        </li>

      </ul>
    </div>
  </nav>

  <div id="page-wrapper">
    <h3>Our bookings</h3>

      <table *ngIf="bookings && bookings.length" class="table table-striped" >
        <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
         <!-- <th>Email</th>-->
          <th>Number of persons</th>
          <th>Date of Reservation</th>
          <th>Time of Reservation</th>
          <th>Comment</th>
          <th rowspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let booking of bookings">
          <th><a (click)="showEdit(booking)" data-toggle="modal" data-target="#showOneModal">{{booking.firstName}} {{booking.lastName}}</a> </th>
          <th>{{booking.phone}}</th>
         <!-- <th>{{booking.email}}</th>-->
          <th>{{booking.numberOfPersons}}</th>
          <th>{{booking.dateOfReservation}}</th>
          <th>{{booking.timeOfReservation}}</th>
          <th>{{booking.comment}}</th>
          <th><button (click)="showEdit(booking)" class="btn btn-warning" data-toggle="modal" data-target="#editModal">Edit</button></th>
          <th><button (click)="deleteBooking(booking.$key)" class="btn btn-danger">Delete</button></th>
        </tr>
        </tbody>
      </table>

    <!-- Edit Modal -->
    <div id="editModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit a Booking</h4>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <h4>Booking of  <strong>{{activeFirstName}} {{activeLastName}}</strong></h4>

                <form (submit)="updateBooking()">
                  <div class="col-md-12">
                    <div class="form-group col-md-6">
                      <label >Date of reservation :</label>
                      <input type="date" class="form-control" [(ngModel)]="activeDateOfReservation" name="activeDateOfReservation" placeholder="Date Of Reservation" #dateOfReservation required>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Time of reservation :</label>
                      <input type="time" class="form-control" [(ngModel)]="activeTimeOfReservation" name="activeTimeOfReservation" placeholder="Time Of Reservation" #timeOfReservation required>
                    </div>
                    <div class="form-group col-md-6">
                      <label>First Name :</label>
                      <input type="text" class="form-control" [(ngModel)]="activeFirstName" name="activeFirstName" placeholder="First Name" #firstName required>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Last Name :</label>
                      <input type="text" class="form-control" [(ngModel)]="activeLastName" name="activeLastName" placeholder="Last Name" #lastName required>
                    </div>

                    <div class="form-group col-md-12">
                      <label>Phone :</label>
                      <input type="text" class="form-control" [(ngModel)]="activePhone" name="activePhone" placeholder="Phone" #phone required>
                    </div>

                    <div class="form-group col-md-12">
                      <label>Email :</label>
                      <input type="email" class="form-control" [(ngModel)]="activeEmail" name="activeEmail" placeholder="Email" #email>
                    </div>
                    <div class="form-group col-md-12">
                      <label>Number of persons :</label>
                      <select class="form-control" [(ngModel)]="activeNumberOfPersons" name="activeNumberOfPersons" #numberOfPersons>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                      </select>
                    </div>
                    <div class="form-group col-md-12">
                      <label>Leave your comment :</label>
                      <textarea class="form-control" rows="5" [(ngModel)]="activeComment" name="activeComment" placeholder="Comment" #comment></textarea>
                    </div>

                    <button type="submit" (click)="updateBooking()" class="btn btn-success" data-dismiss="modal">Submit</button>
                    <button type="reset" class="btn btn-default" >Reset</button>
                  </div>

                </form>
              </div>
            </div>
            <!--<app-signup></app-signup>
            <app-login></app-login>-->
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Show One Modal -->
    <div id="showOneModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5>Booking of  <strong>{{activeFirstName}} {{activeLastName}}</strong></h5>
          </div>

          <div class="modal-body">
            <p><strong>Phone  </strong> {{activePhone}}</p>
            <p><strong>Email  </strong> {{activeEmail}}</p>
            <p><strong>Comment  </strong> {{activeComment}}</p>
            <p><strong>Number of persons  </strong> {{activeNumberOfPersons}}</p>
            <p><strong>Date of reservation  </strong> {{activeDateOfReservation}}</p>
            <p><strong>Time of reservation  </strong> {{activeTimeOfReservation}}</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


