.appointment {
  padding: 15px;
  width: 800px;
  background-color: #90ee90;
  color: #fff;
  margin-bottom: 100px;
}

.app-timestamp {
  padding: 12px;
}

.app-button {
  padding: 9px 20px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 22px;
  transition: 0.5s;
}

.app-button:hover {
  background-color: #222;
  color: #fff;
}

.app-time {
  padding-left: 40px;
  float: left;
}

.app-slots {
  margin-left: 130px;
}

.app-booking {
  float: right;
  color: #0f0f0f;
  padding-right: 25px;
}

.modal-content {
  padding: 7px;
}

.modal-body, .modal-footer {
  padding-left: 15px;
}
