<h1> Herzlich Willkommen zu diese Seite </h1>

<div class="appointment">
  <h3>Available appointments</h3>
  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      07:00 am – 08:00 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button" data-toggle="modal" data-target="#myModal" >Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      08:15 am – 09:15 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      09:30 am – 10:30 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      10:45 am – 11:45 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      12:00 am – 13:00 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      13:15 am – 14:15 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      14:30 am – 15:30 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      15:45 am – 16:45 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      17:00 am – 18:00 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      18:15 am – 19:15 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      19:30 am – 20:30 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      20:45 am – 21:45 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>

  <div class="app-timestamp">
    <span class="app-time">
      <i class="glyphicon glyphicon-time"></i>
      22:00 am – 23:00 am
    </span>
    <span class="app-slots">
      6 time slots available
    </span>
    <span class="app-booking">
      <span class="app-button">Book Appointment</span>
    </span>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">REQUEST APPOINTMEN</h4>
      </div>
      <div class="modal-body">
        <p><i class="glyphicon glyphicon-calendar"></i> March 24, 2017    <i class="glyphicon glyphicon-time"></i>  9:30 am – 10:30 am</p>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio" checked >I'm active user</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">I'm new user</label>
      </div>

      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>

      <button type="button" class="btn btn-success">Sign in</button>
      <button type="button" class="btn btn-default">Cancel</button>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
