<div class="form-container">
  <h2>Join now</h2>
  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <div class="form-group">
      <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" (ngModel)="password" name="password" class="form-control" required>
    </div>
    <button type="submit" [disabled]="!formData.valid" class="btn btn-success" >Create my account</button>
    <button type="button" class="btn btn-default" >Cancel</button>
  </form>
</div>
